h1{
    color: orangered;
    background-color: aqua;
    font-size: 20px;
    text-align: center;
    font-family:  Helvetica;
    border-bottom: 4px solid crimson;
    }
    h2{
        color: darkblue;
        text-decoration: underline;
        font-size: 20px;
        }
    b{
        color:darkred;
        font-size: 20px;
    }
    header{
        color: darkblue;
        border: 1px dashed #444444;
        text-align: center;
        font-size: 40px;
        
        text-align: fixed;
        
        padding: 1%;
        }
    #content{
        font-style: italic;
        color: purple;
        border: 2px solid red;
        font-weight: bold;
        margin: 1px;
        bottom: 0;
        right: 0;
        width: 500px;
         }
    a[href]{
        background-color: seagreen;
        color: wheat;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        border: 2px solid blue;
    }